doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Acceso al dispositivo
	body
		canvas(id="canvas" width="600" height="600")
		button(onclick="startup()") Inicializar
		pre(id="log" style="border: 1px solid #ccc;")
		script(src="touch.js")